:root {
  font-family: STIX Two Text, system-ui;
  line-height: 1.5;
  font-weight: 400;
  font-size: large;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --darker: #1c1c1c;
  --dark: #202020;
  --red: #c62f1a;
  --goldish: #d7b279;
  --white: #ececec;
  background-color: var(--dark);

  margin: 0 auto;
  text-align: center;
  white-space: pre-line;
  /* Handle \n for firebase */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.marvel-regular {
  font-family: "Marvel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.marvel-bold {
  font-family: "Marvel", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.marvel-regular-italic {
  font-family: "Marvel", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.marvel-bold-italic {
  font-family: "Marvel", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}
.stix-two-text {
  font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Navbar Styling */
.navbar {
  background-color: #202020;
  background: linear-gradient(
    to bottom,
    #202020,
    rgba(32, 32, 32, 1),
    rgba(32, 32, 32, 0)
  );
  display: flex;
  width: 100%;
  height: 200px;
  position: fixed;
  padding: 0 20px;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.navbar-brand img {
  width: 80px;
  cursor: pointer;
  position: relative;
  top: 20%;
}

.navbar-links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  gap: 25px;
}

/* Burger Menu Icon */
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
  z-index: 11;
  position: inherit;
  top: 10%;
  right: 10%;
}

.burger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.burger-menu.open span:nth-child(1) {
  transform: rotate(45deg) translate(7px, 5px);
}

.burger-menu.open span:nth-child(2) {
  opacity: 0;
}

.burger-menu.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -5px);
}

.socials {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.doble-division {
  display: flex;
  justify-content: space-evenly;
}

.formato {
  padding: 0 8rem 0 8rem;
}

.callout {
  border: solid 5px var(--goldish);
  border-radius: 10px;
  color-scheme: light dark;
  font-size: larger;
  padding: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.pagina {
  width: 100%;
  color-scheme: light dark;
  color: #202020;
  background-color: rgba(255, 255, 255, 0.87);
}

.pagina-dark {
  width: 100%;
  color-scheme: light dark;
  color: var(--white);
  background-color: var(--dark);
}

.fotos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
}

.foto-preview {
  width: 200px;
  cursor: pointer;
  transition: transform 0.25s;
  border-radius: 5px;
  margin: 10px;
}

.foto-preview:hover,
.foto-preview:focus {
  border: 1px solid var(--goldish);
  align-items: center;
  transform: scale(1.1);
  z-index: 10;
}
.premios {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #202020;
}

a {
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  text-decoration: inherit;
  transition: 0.2s;
}

a:hover {
  color: var(--goldish);
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: Merriweather, serif;
  font-weight: 900;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family: Merriweather, serif;
  font-weight: 900;
}

ul {
  list-style-type: none;
}

li {
  font-weight: 700;
  font-size: larger;
}

p {
  text-align: left;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 3px solid var(--goldish);
  margin-top: 2rem;
}

.foto-principal {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

button {
  border-radius: 8px;
  border: 1px solid var(--goldish);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--goldish);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.cartelera {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.img-format-s {
  max-width: 30%;
  height: auto;
  object-fit: contain;
}

.img-format-l {
  max-width: 60%;
  height: auto;
  object-fit: contain;
}

.admin-dashboard {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  gap: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 10vh 0;
}

.edit-zone {
  display: flex;
  flex-direction: column;
  width: 40vw;
  align-items: center;
  margin: auto;
  padding: 10px 60px 60px;
  border: 1px solid var(--dark);
  border-radius: 20px;
}

.input-field,
.textarea-field {
  padding: 8px;
  border: 1px solid var(--goldish);
  border-radius: 4px;
  width: 100%;
  height: 20px;
}

.textarea-field {
  height: 120px;
}

.char-count {
  color: #888;
  font-size: 14px;
}

.progress-bar {
  background-color: #f0f0f0;
  border-radius: 4px;
  margin: 1.25rem auto;
  width: 40%;
  height: 20px;
}

.progress {
  height: 100%;
  background-color: #4a90e2;
  border-radius: 4px;
}

.cartelera {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centers vertically */

  text-align: center;
  width: 100%;
  height: 80vh;

  /* Ensure it takes full viewport width without overflow */
  max-width: 100vw;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-form input {
  width: 100%; /* Full width */
  height: 50px; /* Control the height */
  padding: 10px 15px; /* Control padding inside the input */
  font-size: 18px; /* Control the size of the text */
  border-radius: 5px; /* Optional: Round the corners */
  border: 1px solid #ccc; /* Optional: Border color */
  box-sizing: border-box; /* Ensure padding is included in the width */
}
.login-form input:hover,
.login-form input:focus {
  width: 100%; /* Full width */
  height: 50px; /* Control the height */
  padding: 10px 15px; /* Control padding inside the input */
  font-size: 18px; /* Control the size of the text */
  border-radius: 5px; /* Optional: Round the corners */
  border: 1px solid var(--goldish); /* Optional: Border color */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

div.obra {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark);
  border-radius: 15px;
  width: 400px;
  height: 1000px;
  padding: 40px 30px;
  margin: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.25s;
  background-color: var(--white);
  backdrop-filter: blur(90px);
}

div.obra:hover,
div.obra:focus {
  border: 1px solid var(--goldish);
  transform: scale(1.05);
}

img.obra {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-wrapper {
  width: 250px;
  height: 550px;
  display: flex;
  align-items: center;
  margin: auto;
  position: relative;
}

p.obra {
  text-align: left;
  max-height: 900px;
  overflow-wrap: break-word; /* Ensures words break when necessary */
  word-wrap: break-word; /* Compatibility with older browsers */
  word-break: break-word; /* Break long words */
  white-space: normal; /* Allows the text to wrap to the next line */
}

h4.obra {
  color: var(--goldish);
  text-align: left;
}

h2.obra {
  text-align: left;
}

.booking-link {
  color: #4a90e2;
  text-decoration: none;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: var(--goldish);
}
.action-buttons {
  display: flex;
  margin: auto;
  gap: 10px;
  margin-top: 10px;
}

.edit-btn {
  background-color: #ffb74d;
  color: white;
  padding: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn {
  background-color: #e57373;
  color: white;
  padding: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.content-box {
  display: flex;
  flex-direction: column;
  width: 40vw;
  align-items: center;
  margin: auto;
  padding: 10px 60px 60px;
  border: 1px solid var(--goldish);
  color: var(--white);
  background-color: var(--dark);
  border-radius: 20px;
  gap: 20px;
}

.img-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--goldish);
  border-radius: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  .doble-division {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media (max-width: 900px) {
  .cartelera {
    justify-content: center;
    /* Center the items on smaller screens */
  }

  div.obra {
    width: 100%;
    max-width: 300px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0%;
  }

  .navbar-links {
    gap: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    top: 0;
    left: 0;
    font-size: larger;
    width: 100%;
    height: 70vh;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(49, 49, 49, 0.5);
    backdrop-filter: blur(60px);
    transform: translateY(-100%);
    padding: 80px 20px 80px 90px;
    transition: transform 0.3s ease;
    z-index: 10;
    white-space: nowrap;
  }

  .navbar-links.show {
    transform: translateY(0%);
  }

  .navbar-brand {
    position: relative;
    display: flex;
    align-items: center;
    top: -10%;
    margin: auto;
  }

  .burger-menu {
    display: flex;
  }
}
